
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename= 'analyses.css') }}">
    <title>Analyze</title>
</head>
<body>
                <header> 
                        <a href="#">{{name}}</a>
                        <div>
                            <a href="#developer_score">DEVELOPER SCORE</a>
                            <a href="#lang_repo">LANGUAGES & REPOS</a>
                            <a href="#ai">AI ANALYSES</a>
                        </div>
                </header>
        <section id="section1">

            <div class="part1">
                <img src="{{url_img}}" >
                <div class="difenation">
                    {% if real_name %}
                        <h1 class="realname">{{real_name}}</h1>
                    {%else%}
                        <h1 class="realname">{{name}}</h1>
                    {%endif%}
                    <h1 class="name">@{{name}}</h1>
                    {% if bio %}
                        <h3 class="bio">{{bio}}</h3>
                    {%else%}
                        <h3 class="nobio"></h3>
                    {%endif%}
                    <div class="follow">
                        <h3> <i class="bi bi-activity"></i> FOLLOWING: {{following}}</h3>
                        <h3> <i class="bi bi-person-arms-up"></i> FOLLOWERS : {{followers}}</h3>
                        <h3><i class="bi bi-calendar"></i> {{years_created_github}} YEARS IN GITHUB</h3>

                    </div>
                </div>
            <a class="view" href="https://github.com/{{name}}">View GitHub <i class="bi bi-arrow-up-right-circle-fill"></i></a>
            </div>
        </section>

        <div class="cards_basic_info">
                {% if top_language %}
                    <div class="card_basic">
                        <i class="fa-solid fa-crown"></i>
                        <p>TOP LANGUAGE</p>
                        <h1>{{top_language}}</h1>
                    </div>
                {%else%}
                    <div class="card_basic">
                        <i class="fa-solid fa-crown"></i>
                        <p>TOP LANGUAGE</p>
                        <h1 id="nolang">NO LANGUAGES</h1>
                    </div>
                {%endif%}

                <div class="card_basic">
                    <i class="bi bi-git"></i>
                    <p>REPOSITORIES</p>
                    <h1>{{repos}}</h1>
                </div>
                <div class="card_basic">
                    <i class="bi bi-star-fill"></i>
                    <p>TOTAL STARS</p>
                    <h1>{{total_stars}}</h1>
            
                </div>
                <div class="card_basic">
                    <i class="fa-solid fa-code-fork"></i>
                    <p>TOTAL FORKS</p>
                    <h1>{{total_forks}}</h1>
            
                </div>
                <div class="card_basic">
                    <i class="bi bi-activity"></i>
                    <p>AVG. STARS/REPO</p>
                    <h1>{{avg_stars}}</h1>
            
                </div>
        </div>
        
        <div class="developer_score" id="developer_score">
            <div class="score">
                <p><i class="bi bi-trophy"></i> DEVELOPER SCORE</p>
                <p><span>{{developer_score}}</span> / 100</p>
            </div>
            <progress value="{{developer_score}}" max="100" ></progress>

            <div class="dont_found_name">
                <div class="score_cards">
                    <div class="card">
                        <i class="iconscore bi-folder"></i>
                        <p><span>{{score_repos}}</span> / 20</p>
                        <h4>PROJECTS</h4>
                    </div>
                    <div class="card">
                        <i class="iconscore bi-star"></i>
                        <p><span>{{score_stars}}</span> / 15</p>
                        <h4>STARS SCORE</h4>
                    </div> 
                    <div class="card">
                        <i class="iconscore bi-diagram-2"></i>
                        <p><span>{{score_forks}}</span> / 15</p>
                        <h4>FORKS SCORE</h4>
                    </div>
                    <div class="card">
                        <i class="iconscore bi-file-earmark-text"></i>
                        <p><span>{{score_documentation}}</span> / 10</p>
                        <h4>DESCRIPTIONS</h4>
                    </div>
                    <div class="card">
                        <i class="iconscore bi-fire"></i>
                        <p><span>{{score_activity}}</span> / 10</p>
                        <h4>ACTIVITY</h4>
                    </div>
                    <div class="card">
                        <i class="iconscore bi-code-slash"></i>
                        <p><span>{{score_lang}}</span> / 10</p>
                        <h4>LANGUAGES</h4>
                    </div>
                    <div class="card" id="card_profile">
                        <div class="profil_score">
                            <i class="bi bi-person-badge"></i>
                            <div class="profile_show_score">
                                <p><span>{{score_profile}}</span> / 10</p>
                                <h4>PROFILE SCORE</h4>
                            </div>
                       </div>
                        <div class="check">
                            {% if real_name %}
                                <h5>Name<i class="bi bi-check"></i></h5>
                            {%else%}    
                                <h5>Name<i class="bi bi-x"></i></h5>
                            {%endif%}

                            {% if bio %}
                                <h5>Bio<i class="bi bi-check"></i></h5>
                            {%else%}    
                                <h5>Bio<i class="bi bi-x"></i></h5>
                            {%endif%}

                            {% if company %}
                                <h5>Company<i class="bi bi-check"></i></h5>
                            {%else%}    
                                <h5>Company<i class="bi bi-x"></i></h5>
                            {%endif%}

                            {% if location %}
                                <h5>Location<i class="bi bi-check"></i></h5>
                            {%else%}    
                                <h5>Location<i class="bi bi-x"></i></h5>
                            {%endif%}
                            {% if blog %}
                                <h5>Blog<i class="bi bi-check"></i></h5>
                            {%else%}    
                                <h5>Blog<i class="bi bi-x"></i></h5>
                            {%endif%}
                        </div>
                        
                    </div>
                </div>

                <div class="line"></div>
                <div class="ai_tips">
                    <h1 class="summary">SUMMARY</h1>
                    <p class="p_summary">{{aiAnalyzer["summary"]}}</p>

                    <h1 class="tips">TIPS TO IMPROVE</h1>
                    <ul>
                        {%for tip in aiAnalyzer["Tips_To_improve"]%}
                                <li>{{tip}}</li>
                        {%endfor%}
                    </ul>
                 </div>
        
            </div>
             

        </div>
        <h1 class="title" id="lang_repo">LANGUAGES & REPOS</h1>

            {%if repos%}
                    <div class="section_lang_repos">
                        <div class="lang_form">
                            <h5><i class="bi bi-code-slash"></i>LANGUAGE DISTRIBUTION</h5>
                                {%for lang,prsent in lang_prsents%}
                                    <p>{{lang}} <span>{{prsent}}%</span>
                                    </p>
                                    <progress value="{{prsent}}" max="100"></progress>
                                {%endfor%}
                            </div>
                            <div class="time_prject">
                                    <div class="first_prject">
                                        
                                        <i class="bi bi-1-square"></i>
                                        <h3 class="h1">FIRST PROJECT</h3>
                                        <h3 class="h2">{{firstproject}}</h3>
                                
                                    </div>
                                    <div class="last_prject">
                                        <i class="bi bi-folder-symlink"></i>
                                        <h3 class="h1">LAST PROJECT </h3>
                                        <h3 class="h2"> {{lastproject}}</h3>
                                    </div>
                            </div>

                            <div class="projects_cards">
                                {%for i in names_repos %}
                                    <div class="card_prject">
                                        <span><h3>{{i["name"]}}</h3><p>{{i["lastupdate"]}}</p></span>
                                        {%if i["description"] %}
                                            <p class="dis">{{i["description"]}}</p>
                                        {%else%}
                                            <p class="nodis">NO DESCRIPTION</p>
                                        {%endif%}
                                        <hr>
                                        <div class="info_project">
                                            <p><i class="icon bi-star"></i> {{i["stars"]}}</p>
                                            <p><i class="icon bi-diagram-2"></i>{{i["forks"]}}</p>
                                            {%if i["Top_language"] %}
                                                <p class="lang">{{i["Top_language"]}}</p>
                                            {%else%}
                                                <p class="lang">NO LANG</p>
                                            {%endif%}
                                        
                                        </div>
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
            {%else%}
                        <div class="no_section_lang_repos">
                            <h1>You Haven't Any Projects</h1>
                        </div>
                        
            {%endif%}


        <h1 class="title" id="ai">AI ANALYSES</h1>
        <div class="ai">
           <div class="s_w">
                <div class="steng">
                    <h2>STRENGTHS</h2>
                    <ul>
                        {%for streng in aiAnalyzer["strengths"]%}
                        <li>{{streng}}</li>
                        {%endfor%}
                    </ul>
                </div>
                <div class="weak">
                    <h2 class="">WEAKNESSES</h2>
                    <ul>
                        {%for weak in aiAnalyzer["weaknesses"]%}
                        <li>{{weak}}</li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
            <div class="steps">
                <div>
                    <h2>NEXT STEPS</h2>
                    <p><span>CAREER LEVEL: </span>{{aiAnalyzer["career_level"]}}</p>
                </div>
                <ul>
                        {%for step in aiAnalyzer["next_steps"]%}
                        <li>{{step}}</li>
                        {%endfor%}
                    </ul>
                    

            </div>
        </div>
       
        


         

     
    {% if message %}
        <a class="btn" href="home">ReAnalyse</a>
    {% endif %}
</body>
</html>