<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename= 'style.css') }}">
    <title>GitHub Portfolio Analyzer</title>
</head>
<body class="home_page">

    <div class="definition">
        <h1 class="first_sentenc">Analyze any <span>GitHub</span> profile</h1>
        <h1 class="first_p">Get a detailed developer score, repository stats, and personalized tips to improve your GitHub presence</h1>
    </div>


    <form action="/analyze" method="post" >
        <input type="text" name="username" id="username" placeholder="Enter GitHub Username ... ">
        <button type="submit" class="username_btn">Analyze</button>
    </form>
        
</body>
</html>